.nav-bar {
  background: #181818;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between; /* Align icons horizontally */
  align-items: center; /* Align icons vertically */
  padding: 0 20px; /* Add padding to space out the icons */
  margin-bottom: 0; /* Remove bottom margin */
}

.different {
  display: flex;
  justify-content: start; /* Align items to the start (left) */
}

nav, ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul a {
  margin-right: 40px; /* Adjust spacing between icons */
}

.anchor-icon {
  font-size: 20px; /* Adjust icon size */
}
